/*ALEXIS'S HOW IT WORKS, TIMELINE, & WEDDING PLANNERS SECTION*/
.intro {
  padding: 90px 0 40px;
  border-bottom: 2px solid #C2EBE6;
  margin-left: 70px;
  margin-right: 70px;
}
.intro h1 {
  color: #0A235C;
  font-family: arial, sans-serif;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}
.intro .timeline-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.intro td,
.intro th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.intro tr:nth-child(even) {
  background-color: #dddddd;
}
.start-here-btn {
  display: flex;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  background-color: #0A235C;
  color: #FFFFFF;
  width: 100px;
  height: 30px;
  font-size: 13px;
}
@media screen and (max-width: 500px) {
  button {
    width: 20%;
  }
}
.carousel {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel .left-button,
.carousel .right-button {
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .carousel .left-button,
  .carousel .right-button {
    width: 20%;
  }
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #FFFFFF;
  background-color: orange;
  border: 2px solid;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 500px) {
  .carousel .left-button {
    width: 20%;
  }
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 500px) {
  .carousel .right-button {
    width: 20%;
  }
}
.carousel .carousel-caption {
  display: none;
}
@media screen and (max-width: 500px) {
  .carousel .carousel-caption {
    width: 20%;
  }
}
.carousel caption {
  position: relative;
  left: auto;
  right: auto;
}
