/*ALEXIS'S HOW IT WORKS, TIMELINE, & WEDDING PLANNERS SECTION*/
.intro {
  padding: 90px 0 10px;
  border-bottom: 2px solid #C2EBE6;
  margin-left: 70px;
  margin-right: 70px;
}
.intro h1 {
  color: #0A235C;
  text-align: center;
  margin-bottom: 60px;
}
.intro .timeline-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.intro td,
.intro th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.intro tr:nth-child(even) {
  background-color: #dddddd;
}
