/*ALEXIS'S HOW IT WORKS, TIMELINE, & WEDDING PLANNERS SECTION*/
.intro {
  padding: 90px 0 40px;
  border-bottom: 2px solid #C2EBE6;
  margin-left: 70px;
  margin-right: 70px;
}
@media screen and (max-width: 500px) {
  .intro {
    width: 80%;
  }
}
h1 {
  color: #0A235C;
  font-family: arial, sans-serif;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}
.table-header {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .table-header {
    width: 94%;
    padding-top: 30px;
  }
}
.timeline-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  box-shadow: 5px 20px 18px grey;
  width: 80%;
  margin: 85px;
}
@media screen and (max-width: 500px) {
  .timeline-table {
    width: 82%;
    margin: 10px;
  }
}
.table {
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #FFEDEA;
}
@media screen and (max-width: 500px) {
  .intro-text {
    width: 100%;
    margin: -18px;
  }
}
@media screen {
  .middle-content {
    width: 100%;
  }
}
.start-here-btn {
  display: flex;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  background-color: #0A235C;
  color: #FFFFFF;
  width: 100px;
  height: 30px;
  font-size: 13px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  button {
    width: 20%;
    margin-top: 30px;
  }
}
.carousel {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media screen and (max-width: 500px) {
  .carousel {
    width: 80%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }
}
.carousel .left-button,
.carousel .right-button {
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .carousel .left-button,
  .carousel .right-button {
    width: 20%;
    margin-left: -20px;
  }
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 500px) {
  .carousel .left-button {
    width: 20%;
  }
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
@media screen and (max-width: 500px) {
  .carousel .right-button {
    width: 20%;
  }
}
.carousel .carousel-caption {
  display: none;
  width: 500px;
  margin-left: 300px;
}
@media screen and (max-width: 500px) {
  .carousel .carousel-caption {
    width: 80%;
    margin-right: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }
}
.tabs {
  width: 42%;
  border: 1px solid;
  margin: 0 auto;
  box-shadow: 5px 20px 20px grey;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-color: #FFEDEA;
}
.tabs img {
  width: 179px;
  height: 199px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.tabs .tabs-item-context {
  text-align: center;
  margin-left: 30px;
}
.tabs .tabs-links {
  display: flex;
  background-color: #FFEDEA;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #0A235C;
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #FFFFFF;
  background-color: #FFEDEA;
  color: #0A235C;
}
.tabs .tabs-link-selected:hover {
  background-color: #FFFFFF;
}
.tabs a {
  border: 2px solid #0A235C;
  color: white;
  background-color: #0A235C;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
}
.tabs .tabs-item-description {
  margin-bottom: 30px;
  margin-top: 50px;
}
